@import '../../../../assets/theme/styles/variables.scss';

.header {
    display: grid;
    grid-template-areas: 'logo form';
    padding: 10px 250px;
    background-color: $orange;
    grid-template-columns: 130px 1fr;

    &__logo {
        grid-area: logo;

        img {
            width: 100px;
            cursor: pointer;
        }
    }

    &__form {
        align-self: self-end;
        grid-area: form;

        .input {
            img {
                display: block;
            }
        }

        button {
            background: $header-search-button;
            border-color: $header-search-button;

            i {
                color: $header-search-icon;
            }
        }
    }
}

@media (max-width: 770px) {
    .header {
        grid-template-areas: 'logo form ';
        padding: 10px 10px;
        background-color: $orange;
        grid-template-columns: 100px 1fr;
    }
}