// globals
$gray: #ebebeb;
$blue:#3483fa;
$white:#ffffff;
$red:red;
$light-blue:#86b7fe;
$orange:#fff159;
$light-black-55:rgba(0, 0, 0, .55);
$light-black-99:rgba(0, 0, 0, .9);
$gray-2:#727272;

//header
$header-search-button:#dbdbdb;
$header-search-icon:#818181;

//loader
$loader-background:rgba(255, 255, 255, 0.8);
$loader-bg-image:url(../../../../assets/logo.png);
$loader-border:#f3f3f3;

//result
$result-text:#333333;
$result-space:rgb(155, 155, 155);