/* You can add global styles to this file, and also import other style files */
@import './assets/theme/styles/variables.scss';

body {
    background-color: $gray;
}

.content {
    background-color: $white;
    margin: 20px 250px;
    padding: 20px;
    border-radius: 6px;
}

.btn-primary {
    background-color: $blue;
    border-color: $blue;
}


.btn-secondary:focus {
    color: unset;
    background-color: unset;
    border-color: unset;
    box-shadow: unset;
}

.form-control:focus {
    color: #212529;
    background-color: $white;
    border-color: $light-blue;
    outline: 0;
    box-shadow: unset;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid $red !important;
}