@import '../../../../assets/theme/styles/variables.scss';

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: $loader-background;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-loader {
    background-image: $loader-bg-image;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 35px;
    opacity: 1;

    .loader {
        border: 10px solid $loader-border;
        border-top: 10px solid $orange;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}