.result {
    display: grid;
    grid-template-areas: 'image description city';
    grid-template-columns: 160px 1fr 170px;

    &__image {
        grid-area: image;
        cursor: pointer;

        img {
            object-fit: contain;
            width: 160px;
            height: 160px;
        }
    }

    &__description {
        grid-area: description;
        width: 70%;
        margin-left: 16px;

        .price {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.25;
            color: #333;
        }

        .description {
            margin-top: 10px;
            color: #333;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.3;
            cursor: pointer;

        }
    }

    &__city {
        grid-area: city;
        //   -webkit-line-clamp: 1;
        //   -webkit-box-orient: vertical;
        //  display: -webkit-box;
        //  overflow: hidden;
        //  text-overflow: ellipsis;
        //  word-break: break-word;
    }
}

.space {
    margin: 20px 0;
    border-top: 0.5px solid rgb(155, 155, 155) !important;
}