@import '../../../assets/theme/styles/variables.scss';

.module {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;

    &__legend {
        color: $gray-2;

        img {
            width: 180px;
        }

        h3 {
            font-weight: 300;
            font-size: 35px;
        }
    }
}

@media (max-width: 770px) {
    .content {
        margin: 20px 10px;
    }
}