.content {
    display: grid;
    grid-template-areas: 'image seller'
        'description description';
    grid-template-columns: 1fr 300px;

    &__image {
        grid-area: image;

        img {
            width: 100%;
            max-width: 500px;
        }
    }

    &__seller {
        grid-area: seller;

        button {
            margin-top: 15px;
            width: 100%;
        }

        .detail {
            color: rgba(0, 0, 0, .55);
            font-size: 14px;
            font-weight: 400;
            white-space: pre-wrap;
        }

        .title {
            color: rgba(0, 0, 0, .9);
            font-size: 22px;
            font-weight: 600;
            line-height: 1.18;
            padding-right: 10px;
            word-break: break-word;
        }

        .price {
            font-weight: 300;
            line-height: 1;
            color: rgba(0, 0, 0, .55);
            font-size: 36px;
        }
    }

    &__description {
        grid-area: description;

        .title {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(0, 0, 0, .9);
            margin-top: 30px;
        }

        .description {
            padding-top: 15px;
            white-space: pre-line;
        }
    }
}